.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-started {
  background: #333333;
  color: #F2F2F2;
}

.game-not-started {
  background: #FFE9A7;
}

.navbar-middle {
    display:block;
    position: relative;
    top:-13%;
    left:0;
    right:0;
    margin: 0 auto;
    transform: translateY(50%);
    /* transform: translateX(50%); */
}

.dashboard {
  background: url(yang_gang.png);
}
